@import "tailwindcss";


@theme {
    --color-Vynil: #181818;
    --color-cherry-pink: #F7C0EC;
    --color-pastel-blue: #A7BDEA
}

@layer utilities {
    .scrollbar-hide {
      scrollbar-width: none;
      -ms-overflow-style: none;
    }
    .scrollbar-hide::-webkit-scrollbar {
      display: none;
    }
  }